<% include ./_head.ejs %>

<header class="header header--welcome">
  <div class="header__inner">
    <h1 class="header__title">Cleveland International Music Festival</h1>
    <h1 class="header__title">July 26th - August 6th 2016</h1>
    <table class="header__nav">
      <tr>
        <td><a href="/cn">中文</a></td>
        <td><a href="/en">English</a></td>
      </tr>
    </table>
  </div>
</header>

<% include ./_foot.ejs %>
