<% include ./_head.ejs %>

<header class="header header--welcome">
  <div class="header__inner">
    <h1 class="header__title">Cleveland International Music Festival</h1>
    <picture>
      <source media="(min-width: 750px)" srcset="http://static.cimfusa.com/img/misc/festival-w307-h100.png 2x">
      <source srcset="http://static.cimfusa.com/img/misc/festival-w200-h65.png 2x">
      <img class="header__logo" alt="<%= i18n.__('Cleveland International Music Festival logo') %>"/>
    </picture>
    <table class="header__nav">
      <tr>
        <td><a href="/cn">中文</a></td>
        <td><a href="/en">English</a></td>
      </tr>
    </table>
  </div>
</header>

<% include ./_foot.ejs %>
