$header-bg: (
  home: 'http://static.cimfusa.com/img/header-bg/home.jpg',
  activity: 'http://static.cimfusa.com/img/header-bg/activity.jpg',
  apply: 'http://static.cimfusa.com/img/header-bg/apply.jpg',
  contact: 'http://static.cimfusa.com/img/header-bg/contact.jpg',
  faculty: 'http://static.cimfusa.com/img/header-bg/faculty.jpg',
  competition: 'http://static.cimfusa.com/img/header-bg/competition.jpg',
  regulation: 'http://static.cimfusa.com/img/header-bg/regulation.jpg',
  cim: 'http://static.cimfusa.com/img/header-bg/cim.jpg',
);

.header {
  position: relative;
  height: 300px;
  z-index: map-get($z-indexes, 'header');
  overflow: hidden;
  color: white;
  padding-top: 100px;
  @each $name, $url in $header-bg {
    &.header--#{$name} {
      background: url(#{$url}) center center / cover no-repeat black;
    }
  }
  &.header--faculty-detail {
    background: url(map-get($header-bg, 'faculty')) center center / cover no-repeat black;
  }
  @include respond-to-larger-than-tablet {
    height: 380px;
  }
  &.header--home {
    text-align: center;
    height: 342px;
    @include respond-to-larger-than-tablet {
      height: 440px;
    }
  }
}

.header__v-pos {
  .header--not-home & {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
  }
}

.header__inner {
  @extend .container;
}

.header__logo {
  width: 200px; // Fix iOS 9 Safari PICTURE element sizing bug
  margin-bottom: 20px;
  @include respond-to-larger-than-tablet {
    width: 307px; // Fix iOS 9 Safari PICTURE element sizing bug
    margin-bottom: 30px;
  }
}

.header__title {
  .header--home & {
    font-size: 3rem;
    margin-bottom: 26px;
    @include respond-to-larger-than-tablet {
      font-size: 5.0rem;
      margin-bottom: 36px;
    }
  }
}
