.home__important-date {
  float: right;
  width: 480px;
  padding: 20px;
  margin: 20px 20px 20px -100px;
  position: relative;
  left: 150px;
  border: 2px solid #d6d6d6;
}

.home__school-image {
  margin-top: 80px;
  width: 960px;
  position: relative;
  left: -130px;
}

.home__content {
  h5 {
    text-align: center;
  }
}

.home__attribution {
  text-align: center;
  margin-top: 80px;

  table {
    margin: 0 auto;
  }

  td {
    text-align: center;
    border: none;
    min-width: 350px;
  }
}
